@import '/src/styles/variables.scss';

.asideMenu {
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;

    flex: 1 1 25% ;
    display: flex;
    background-color: $backgroundColor-aside;
    //max-width: 370px;
    padding: 40px 40px 0;
    &__right{
        display: none;
    }
    &__imgContainer {  
        margin-bottom: 51px;
    }
    &__img {
        max-width: 100%;
        border-radius: 4px;
    }
    &__body {
        padding-left: 20px;
    }
}

@media (max-width:1024px) {
    .asideMenu {
        padding: 20px;
        flex: 0 1 0% ;
        &__active {
            flex: 1 1 25% ;
        }
        &__right {
            display: block;
            position: fixed;
            top: 10px;
            left: 10px;
            cursor: pointer;
            height: 20px;
            transition: 0.5s ease transform;
            &_active {
                transform: rotate(180deg);
            }
        }
        &__left {
            display: none;
            &_active {
                min-width: 100%;
                display: block;
                padding: 40px 24px 0; 
            }
        }
    }
}
@media (max-width:768px) {
    .asideMenu {
        &__active {
            min-width: 100%;
        }
        &__left {
            &_active {
                display: flex;
                justify-content: space-evenly;
            }
        }
        &__img {
            max-height: 480px;
        }

    }
}
@media (max-width: 620px) {
    .asideMenu {
        &__active {
            min-width: 100%;
        }
        &__left {
            &_active {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        &__imgContainer{
            align-self: center;
            justify-self: center;
        }
        &__img {
            max-height: 480px;
            
        }

    }
}
@media (max-width: 450px) {
    .asideMenu {
        &__body {
            padding-left: 0;
        }
    }
}