@import '/src/styles/variables.scss';

.asideMenu {
    padding: 40px 40px 0;
    flex: 1 1 25% ;
    display: flex;
    background-color: $backgroundColor-aside;
    &__right{
        display: none;
    }
    &__body {
        padding-left: 20px;
    }
}

@media (max-width:1024px) {
    .asideMenu {
        padding: 20px;
        flex: 0 1 0% ;
        &__active {
            flex: 1 1 25% ;
        }
        &__right {
            display: block;
            position: fixed;
            top: 10px;
            left: 10px;
            height: 20px;

            transition: 0.5s ease transform;
            cursor: pointer;
            &_active {
                transform: rotate(180deg);
            }
        }
        &__left {
            display: none;
            &_active {
                display: block;
                padding: 40px 24px 0; 
                min-width: 100%;
            }
        }
    }
}
@media (max-width:768px) {
    .asideMenu {
        &__active {
            min-width: 100%;
        }
        &__left {
            &_active {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}
@media (max-width: 450px) {
    .asideMenu {
        &__active {
            min-width: 100%;
        }
        &__left {
            &_active {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
        }
        &__body {
            padding-left: 0;
        }
    }
}
