@import '/src/styles/variables.scss';

%transition {
    transition: 0.3s ease color;
}

.shortsProjectsBlock {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        &:hover {
            .shortsProjectsBlock{
                &__text {
                    color: $hoverColor; 
                }
                &__center {
                    border-bottom: 1px dashed $hoverColor;
                }
                &__right {
                    color: $hoverColor; 
                }
            }
            
        }
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__text {
        color: $headingColor;
        @extend %transition; 
        &_id{
            font-weight: 700;
            @extend %transition; 
            &::after{
                content: ".";
                margin-right: 10px;
            }
        }
    }
    &__center {
        flex: 2 0 auto;
        min-height: 0.8em;
        margin: 0 4px;
        border-bottom: 1px dashed #A8A8A8;
    }
    &__right {
        display: flex;
        align-items: center;
        color: $textColor;
        @extend %transition; 
        &::before{
            content: '[';
        }
        &::after {
            content: ']';
        }
    }
    &__techBlock {
        display: flex;
        &::before {
            content: ', ';
            margin-right: 0.2em;
        }
        &:first-of-type {
            &::before{
                content: "" ;
                margin-right: 0;
            }
        }
        &:nth-child(n+5) {
            display: none;
        }
    }
}
.fullProjectsBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    cursor: default;
    &__heading{
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $headingColor;
    }
    &__summary {
        margin-bottom: 4px;
        line-height: 14px;
    }
    &__tech{
        display: flex;
        margin-bottom: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: $textColor-additional;
    }

}
.extendedProjectBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    &__headBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__heading{
        font-size: 28px;
        &:hover {
            font-size: 28px;
        }
    }
    &__summary {
        margin-bottom: 14px;
        line-height: 14x;
        cursor: default;
    }
    &__techBlock{
        display: block;
        margin-bottom: 20px;
    }

    &__linkBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    &__link{
        height: 50px;
        max-width: 100px;
        margin-right: 10px;
        padding: 4px 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid $btnBorderColor;
        border-radius: 10px;
        background-color: white;
        transition: 0.5s ease background-color;
        &_gHub {
            padding: 16px;
        }
        &:hover {
            background-color: $btnHoverColor;
        }
    }
    &__gitHub {
        font-size: 16px;
        color: black;
        font-weight: 600;
    }
    &__icon {
        display: flex;
        width: 90%;
        margin-bottom: 6px;
    }
    &__ghPage {
        color: black;
        font-size: 10px;
        &_big {
            font-weight: 600;
            margin-right: 2px;
        }
        &_small {
            font-weight: 400;
        }
    }
}