@import '/src/styles/variables.scss';

.shortsProjectsBlock {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        &:hover {
            .shortsProjectsBlock{
                &__text {
                    color: $hoverColor; 
                }
                &__center {
                    border-bottom: 1px dashed $hoverColor;
                }
                &__right {
                    color: $hoverColor; 
                }
            }
            
        }
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__text {
        color: $headingColor;
        @extend %textColorTransition; 
        &_id{
            font-weight: 700;
            @extend %textColorTransition; 
            &::after{
                content: ".";
                margin-right: 10px;
            }
        }
    }
    &__center {
        margin: 0 4px;
        min-height: 0.8em;
        flex: 2 0 auto;

        transition: 0.3s ease border;
        border-bottom: 1px dashed $headingColor;
    }
    &__right {
        display: flex;
        align-items: center;
        color: $headingColor;
        @extend %textColorTransition; 
        &::before{
            content: '[';
        }
        &::after {
            content: ']';
        }
    }
    &__techBlock {
        display: flex;
        &::before {
            content: ', ';
            margin-right: 0.2em;
        }
        &:first-of-type {
            &::before{
                content: "" ;
                margin-right: 0;
            }
        }
        &:nth-child(n+5) {
            display: none;
        }
    }
}
.fullProjectsBlock {
    display: grid;
    grid: auto-flow /1.5fr 0.4fr;
    gap: 40px;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid $tableBorderColor;
    @extend %tabletBorderColorsTransition;
    &:hover {
        border-bottom: 1px solid $tableHoverColor;
    }
    &__img {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
        border-radius: 4px;
    }
    &__left {
        display: flex;
        flex-direction: column;
        cursor: default;
    }
    &__heading{
        margin-bottom: 8px;
    }
    &__summary {
        margin-bottom: 4px;
        line-height: 14px;
    }
    &__tech{
        display: flex;
        margin-bottom: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: $textColor-additional;
    }
}
.extendedProjectBlock {
    margin-bottom: 14px;    
    display: flex;
    flex-direction: column;
    &__headBlock {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: default;
    }
    &__summary {
        margin-bottom: 14px;
        cursor: default;
    }
    &__techBlock{
        display: block;
        margin-bottom: 20px;
    }

    &__linkBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    &__link{
        height: 50px;
        max-width: 100px;
        margin-right: 10px;
        padding: 4px 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid $btnBorderColor;
        border-radius: 10px;
        background-color: transparent;
        transition: 0.5s ease background-color;
        &_gHub {
            padding: 16px;
        }
        &:hover {
            background-color: $btnHoverColor;
            .extendedProjectBlock {
                &__gitHub {
                    color: $btnInnerColor;
                }
                &__ghPage {
                    color: $btnInnerColor;
                }
                &__icon {
                fill: $btnInnerColor;
                stroke: $btnInnerColor;
                }
            }
        }
    }
    &__gitHub {
        font-size: 16px;
        color: $headingColor-aside;
        font-weight: 600;
        transition: 0.5s ease;
    }
    &__icon {
        display: flex;
        margin-bottom: 6px;
        fill: $headingColor-aside;
        stroke: $headingColor-aside;
        transition: 0.5s ease;
        transition-duration: fill, stroke;
    }
    &__ghPage {
        color: $headingColor-aside;
        font-size: 10px;
        transition: 0.5s color;
        &_big {
            font-weight: 600;
            margin-right: 2px;
        }
        &_small {
            font-weight: 400;
        }
    }
}

@media (max-width:768px) {
    .shortsProjectsBlock {
        &__techBlock {
            &:nth-child(n+4) {
                display: none;
            }
        }
    }
}
@media (max-width:600px) {
    .shortsProjectsBlock {
        &__techBlock {
            &:nth-child(n+3) {
                display: none;
            }
        }
    }
    .fullProjectsBlock {
        gap: 20px;
        &__tech {
            font-size: 12px;
            line-height: 13px;
        }
    }
}
@media (max-width:500px) {
    .shortsProjectsBlock {
        &__techBlock {
            &:nth-child(n+2) {
                display: none;
            }
        }
    }
    .fullProjectsBlock {
        &__summary {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .extendedProjectBlock {
        &__link{
            height: 38px;
            max-width: 70px;
            margin-right: 10px;
            padding: 4px 12px;
            &_gHub {
                padding: 12px;
            }
        }
        &__gitHub {
            font-size: 12px;
        }
        &__icon {
            height: 20px;
            margin-bottom: 2px;
        }
        &__ghPage {
            font-size: 8px;
        }
    }
}
@media (max-width:400px) {
    .shortsProjectsBlock {
        &__center {
            display: none;
        }
        &__right {
            display: none;
        }
    }
    .fullProjectsBlock {
        grid: auto-flow /1.2fr 0.8fr;
    }
    .extendedProjectBlock {
        &__link{
            height: 30px;
            max-width: 68px;
            margin-right: 0;
            margin-left: 6px;
            padding: 3px 8px;
            &_gHub {
                padding: 12px;
            }
        }
        &__gitHub {
            font-size: 10px;
        }
        &__ghPage {
            font-size: 7px;
        }
    }
}
@media print {
    .shortsProjectsBlock {
        &__techBlock {
            display: flex !important;
            &:nth-child(n+4) {
                display: none !important;
            }
        }
    }
}