@import '/src/styles/variables.scss';

.aboutList {
    margin-bottom: 40px;
    &__heading{
        margin-bottom: 12px;
    }
    &__block {
        &_short {
            display: none;
            &:first-of-type {
                display: block;
            }    
        }
    }
}