@import '/src/styles/variables.scss';

.asideList {
    
    &__heading {
        margin-bottom: 8px;
    }
    &__list {
        margin-bottom: 44px;
    }
    &__item {
        display: flex;
        align-items: center;
        &_composite{
            &:hover {
                .asideList{
                    &__icon {
                        fill: $hoverColor;
                        stroke: $hoverColor;    
                    }
                    &__text {
                        color: $hoverColor;
                    }
                }
            }
        }
    }
    &__icon {
        fill: $iconColor-aside;
        stroke: $iconColor-aside;
        width: 20px;
        &_circle {
            width: 4px;

            fill: $circleColor-aside;
            stroke: $circleColor-aside;
        }
    }
    &__text {
        display: inline;
        padding-left: 10px;
        color: $textColor-aside;
    }
}