@import '/src/styles/variables.scss';

.slider {
    height: 360px;
    min-width: 240px;
    margin-bottom: 51px;

    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: opacity ease-in-out;
    &__wide {
        margin-bottom: 20px;
        padding: 20px;

        background-color: $sliderColor;
        border: 1px solid $sliderBorderColor;
    }
    &__slide{
        display: flex;
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
        &_wide {
            background-size: contain;  
        }
    }
    &__arrow {
        width: 32px;
        height: 32px;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: calc(0% + 14px);

        opacity: 0.4;
        transition: opacity ease 0.4s;
        background: white;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &_wide{
            bottom: calc(50% - 20px);
            background: lightgray;
        }
        &_left {
            left: 14px;
            transform: rotate(180deg);
        }
        &_right {
            right: 14px;
        } 
    }
}

.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}

@media (max-width: 500px) {
    .slider{
        margin-bottom: 26px;
    }
}
@media print {
    .slider {
        height: 240px;
        min-width: 160px;
        margin-bottom: 20px;
        &__arrow {
            display: none;
        }
    }
}