@import '/src/styles/variables.scss';

.skillTag {
    display: inline-block;
    padding: 4px 10px;
    margin: 0 4px 6px 0;
    
    font-size: 12px;
    border: 1px solid $btnBorderColor;
    transition: 0.5s ease background-color;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
       background-color: $btnHoverColor; 
    }
}