@import '/src/styles/variables.scss';

.modal {
    margin: 40px;
    padding: 40px;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $modalColor;
    border: 1px solid $modalBorderColor;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    &__textBlock{
        margin-bottom: 40px;
        line-height: 24px;
    }
    &__btn {
        padding: 10px;

        border-radius: 6px;
        background-color: white;
        border: 1px solid $btnBorderColor;
        cursor: pointer;
        transition: 0.5s ease background-color;
        &:hover {
            background-color: $hoverColor;
        }
    }
}