@import './fonts.scss'; //Шрифты
@import './nullstyle.scss'; // Нормализация
@import '/src/styles/variables.scss'; //Переменные и миксины 

:root {
    //background-color: $backgroundColor-outside;
}
.app {
    
    background-color: $backgroundColor-outside;
    padding: 40px 40px;
    margin: 0 auto;
}
body {
    font-family: iviSans,sans-serif;
    font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1200px;

    display: flex;
    background-color: $backgroundColor-main;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
.container-internal {
    padding: 0 40px;
}
.heading-l2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $headingColor-aside;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $textColor;
}


