@mixin font-face($font-style, $font-weight, $file-name) {
  @font-face {
    font-family: 'Roboto';
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('./fonts/Roboto/#{$file-name}.woff2') format('woff2'),
         url('./fonts/Roboto/#{$file-name}.woff') format('woff');
  }
}

@include font-face(normal, 300, 'Roboto-Light');
@include font-face(normal, 400, 'Roboto-Regular');
@include font-face(normal, 500, 'Roboto-Medium');
@include font-face(normal, 700, 'Roboto-Bold');
@include font-face(normal, 900, 'Roboto-Black');

@include font-face(italic, 300, 'Roboto-LightItalic');
@include font-face(italic, 400, 'Roboto-Italic');
@include font-face(italic, 500, 'Roboto-MediumItalic');
@include font-face(italic, 700, 'Roboto-BoldItalic');

