$backgroundColor-outside: #E5E5E5;
$backgroundColor-main: #fff;
$backgroundColor-aside: #E0EBFE;

$headingColor: #000000;
$headingColor-aside: #161D2A;
$headingColor-additional: #6D9BF5;


$textColor: #595959;
$textColor-aside: #161D2A;
$textColor-additional: #A8A8A8;

$iconColor-aside: #161D2A;
$circleColor-aside: #6D9BF5;
$circleColor-main: #595959;

$hoverColor: #6D9BF5;
