.app {
    --backgroundColor-outside: #E5E5E5;
    --backgroundColor-main: #fff;
    --backgroundColor-aside: #E0EBFE;

    --headingColor: #4d3c3c;
    --headingColor-aside: #161D2A;
    --headingColor-additional: #6D9BF5;

    --textColor: #595959;
    --textColor-aside: #161D2A;
    --textColor-additional: #A8A8A8;

    --iconColor-aside: #161D2A;
    --circleColor-aside: #6D9BF5;
    --circleColor-main: #595959;

    --hoverColor: #6D9BF5;
    --loaderColor: #6D9BF5;

    --modalColor: #E0EBFE;
    --modalBorderColor: #6D9BF5;

    --btnBorderColor: #6D9BF5;
    --btnHoverColor: #E0EBFE;

    --sliderColor: #E0EBFE;
    --sliderBorderColor: #6D9BF5;

    --tableBorderColor: #A8A8A8;
    --tableHoverColor: #6D9BF5;
    
}
  
.app__dark {
    --backgroundColor-outside: #1F2127;
    --backgroundColor-main: #272B32;
    --backgroundColor-aside: #23262C;
  
    --headingColor: #A7A9AC;
    --headingColor-aside: #8B8E93;
    --headingColor-additional: #73787E;
  
    --textColor: #86888C;
    --textColor-aside: #B0B2B7;
    --textColor-additional: #919396;
  
    --iconColor-aside: #8B8E93;
    --circleColor-aside: #73787E;
    --circleColor-main: #86888C;
  
    --hoverColor: #73787E;
    --loaderColor: #676A6F;
  
    --modalColor: #2A2D34;
    --modalBorderColor: #8B8E93;
  
    --btnBorderColor: #8B8E93;
    --btnHoverColor: #73787E;
  
    --sliderColor: #2A2D34;
    --sliderBorderColor: #8B8E93;
  
    --tableBorderColor: #919396;
    --tableHoverColor: #73787E;
}

$backgroundColor-outside: var(--backgroundColor-outside);
$backgroundColor-main: var(--backgroundColor-main);
$backgroundColor-aside: var(--backgroundColor-aside);

$headingColor: var(--headingColor);
$headingColor-aside: var(--headingColor-aside);
$headingColor-additional: var(--headingColor-additional);

$textColor: var(--textColor);
$textColor-aside: var(--textColor-aside);
$textColor-additional: var(--textColor-additional);

$iconColor-aside: var(--iconColor-aside);
$circleColor-aside: var(--circleColor-aside);
$circleColor-main: var(--circleColor-main);

$hoverColor: var(--hoverColor);
$loaderColor: var(--loaderColor);

$modalColor: var(--modalColor);
$modalBorderColor: var(--modalBorderColor);

$btnBorderColor: var(--btnBorderColor);
$btnHoverColor: var(--btnHoverColor);

$sliderColor: var(--sliderColor);
$sliderBorderColor: var(--sliderBorderColor);

$tableBorderColor: var(--tableBorderColor);
$tableHoverColor: var(--tableHoverColor);
$toogleCircleColor: #ffffff;
$btnInnerColor: black;

%textColorTransition {
    transition: 0.3s ease color;
}
%tabletBorderColorsTransition {
    transition: 0.8s ease border;
}