$outsideBackgroundColor: #E5E5E5;
$mainBackgroundColor: #fff;
$headingColor: #000000;
$textColor: #595959;

$headingColor-aside: #161D2A;
$textColor-aside: #161D2A;
$iconColor-aside: #161D2A;
$circleColor-aside: #6D9BF5;;

