@import '/src/styles/variables.scss';

%hoverAnim {
    transition: 0.3s ease;
    transition-property: fill, stroke, color;
}

.contacts {
    margin-bottom: 51px;
    &__heading {
        margin-bottom: 12px;
    }
    &__list {
        margin-bottom: 20px;
        @extend %hoverAnim ;
    }
    &__item {
        display: flex;
        align-items: center;
        &:nth-child(n+3) {
            display: none;
        }
        &:hover {
            .contacts{
                &__icon {
                    fill: $hoverColor;
                    stroke: $hoverColor;    
                }
                &__text {
                    color: $hoverColor;
                }
            }
        }
    }
    &__icon {
        width: 20px;
        fill: $iconColor-aside;
        stroke: $iconColor-aside;
        @extend %hoverAnim ;
    }
    &__text {
        display: inline;
        padding-left: 0.5em;
        color: $textColor-aside;
        @extend %hoverAnim ;
    }
    &__iconsList {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    &__iconsItem {
        display: none;
        margin-right: 20px;
        &:nth-child(n+3) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            .contacts__bigIcon {
                fill: $hoverColor;
                stroke: $hoverColor; 
            } 
        }
    }
    &__bigIcon {
        height: 40px;
        width: 40px;
        @extend %hoverAnim ;
        fill: $iconColor-aside;
        stroke: $iconColor-aside;
    }
}

@media (max-width: 600px){
    .contacts{
        margin-bottom: 0;
        &__iconsList {
            margin-top: 20px;
            flex-wrap: wrap;
        }
    }
}