@import '/src/styles/variables.scss';

.workExpirience {
    margin-bottom: 30px;
    &__headingBlock {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        cursor: default;
    }
    &__heading{
        cursor: default;
        &_additional{
            padding-left: 0.3em;
            color: $headingColor-additional;
            cursor: default !important; //чтобы перебить стили heading-l3
            &:hover {
                color: $headingColor-additional;
            }
        }

    }
    &__additionalInfo {
        margin: 6px 0 10px 0.2em;

        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $textColor-additional;
        cursor: default;
    }
    &__description{ 
        cursor: default;
        &_extended {
            margin-bottom: 20px;  
        }
    }
    &__string{
        line-height: 20px;
        margin-bottom: 2px;
        &::before {
            content: '\2022';
            color: $circleColor-main;
            padding-right: 1em;
        }  
    }
    &__techBlock{
        display: block;
        margin-bottom: 20px;
    }
} 

@media (max-width: 620px) {
    .workExpirience {
        margin-bottom: 24px;
    }
}
@media (max-width: 500px) {
    .workExpirience {
        margin-bottom: 20px;
    }
}
@media print {
    .workExpirience {
        margin-bottom: 10px;
        &__headingBlock {
            margin-bottom: 0;
        }
        &__additionalInfo {
            margin: 2px 0;
        }
        &__string {
            margin-bottom: 0;
            line-height: 16px;
        }
    }
}