@import '/src/styles/variables.scss';

.mainPage {
    &__summary {
        margin-bottom: 64px;
        cursor: default;
    }
}

@media (max-width: 620px) {
    .mainPage {
        &__summary {
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 500px) {
    .mainPage {
        &__summary {
            margin-bottom: 20px;
        }
    }
}
@media print {
    .mainPage {
        &__summary {
            margin-bottom: 10px;
            line-height: 16px;
        }
    }
}