@import '/src/styles/variables.scss'; 
.themeToogler {
    position: relative;
    width: 24px;
    height: 12px;
    cursor: pointer;
    .themeToogler__slider {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;
      background-color: $hoverColor;
      border-radius: 50px;
      transition: background-color 1.4s;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 2px;
        width: 8px;
        height: 8px;
        background-color: $toogleCircleColor;
        border-radius: 50px;
      }
      &:before {
        transition: 0.4s;
      }
      &:after {
        transition: 0.5s;
      }
    }
    .themeToogler__wave {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 12px;
      border-radius: 40px;
      transition: all 1.4s;
    }
    input {
      display: none;
    }
    input:checked + .themeToogler__slider {
      background-color: transparent;
      &:before,
      &:after {
        transform: translateX(12px);
      }
    }
    input:checked ~ .themeToogler__wave  {
      display: block;
      background-color: $hoverColor
    }
}    
  