@import '/src/styles/variables.scss';

.aboutBlock {
    &__stringL1{
        margin-top: 16px;
        display: flex;
        align-items: center;
        cursor: default;

    }
    &__circle {
        max-width: 6px;
        min-width: 6px;
        margin-right: 10px;
        fill: $circleColor-main;
        stroke: $circleColor-main;
    }
    &__text {
        line-height: 22px;
    }
    &__outBlock {

    }
    &__innerBlock{

    }
    &__stringL2{
        margin: 0 1em;
        line-height: 22px;
        cursor: default;
        &::before {
            content: '-';
            margin: 0 1em;
        }
    }
}