@import '/src/styles/variables.scss';

.aboutBlock {
    &__stringL1{
        margin-top: 16px;
        display: flex;
        align-items: center;
        cursor: default;

    }
    &__text {
        line-height: 22px;
        &::before {
            content: '\2022';
            color: $circleColor-main;
            padding-right: 1em;
        }  
    }
    &__outBlock {

    }
    &__innerBlock{
        margin-left: 1em; 
    }
    &__stringL2{
        margin: 0 1em;
        line-height: 22px;
               
        cursor: default;
        &::before {
            content: '-';
            color: $circleColor-main;
            padding-right: 1em;
        }
    }
}