@import '/src/styles/variables.scss';

.aboutBlock {
    &__stringL1{
        margin-top: 4px;
        display: flex;
        align-items: center;
        cursor: default;
    }
    &__text {
        &::before {
            content: '\2022';
            color: $circleColor-main;
            padding-right: 0.5em;
        }  
    }
    &__innerBlock{
        margin-left: 0.5em; 
    }
    &__stringL2{
        margin: 0 0.5em;
        cursor: default;
        &::before {
            content: '-';
            color: $circleColor-main;
            padding-right: 1em;
        }
    }
}
@media print {
    .aboutBlock {
        &__stringL1{
            margin-top: 0;
        }
    }
}