@import '/src/styles/variables.scss';

.header{
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    &__controlPanel {
        align-self: flex-end;
    }
    &__heading {
        font-weight: 900;
        font-size: 45px;
        line-height: 50px;
        color: $headingColor;
        cursor: default;
    }
}

@media (max-width: 620px) {
    .header{
        margin-bottom: 20px;
        &__heading {
            font-size: 34px;
        }
    }
}
@media (max-width: 500px) {
    .header{
        margin-bottom: 14px;
        &__heading {
            font-size: 22px;
            line-height: 28px;
        }
    }
}
@media print {
    .header{
        margin: 8px 0;
        &__heading {
            font-size: 22px;
            line-height: 26px;
        }
    }
}
