@import '/src/styles/variables.scss';

.header{
    margin-bottom: 29px;
    &__heading {
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $headingColor;
        cursor: default;
    }
}

@media (max-width: 620px) {
    .header{
        &__heading {
            font-size: 34px;
        }
    }
}
@media (max-width: 450px) {
    .header{
        margin-bottom: 10px;
        &__heading {
            font-size: 28px;
        }
    }
}