@import '/src/styles/variables.scss';

%transition {
    transition: 0.3s ease color;
}

.skillBlock {
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__text {
        display: inline;
        padding-left: 1em;
        color: $textColor-aside;
        &_mark {
            cursor: default;
            &::before {
                content: '\2022';
                color: $circleColor-aside;
                padding-right: 1em;
            }   
        }
        &_markL2 {
            display: block;
            padding-left: 2em;
            cursor: default;
            &::before {
                content: '\2043';
                color: $circleColor-aside;
                padding-right: 0.5em;
            }
        }
        
    }
}

.fullSkillBlock {
    &__item {
        margin-bottom: 10px;
    }
    &__skillName{
        margin-bottom: 4px;
        font-weight: 700;
        cursor: default;
    }
    &__skillAprove {
        padding-left: 2em;
        cursor: pointer;
        &:hover {
            color: $hoverColor; 
        }
    }
}