@import '/src/styles/variables.scss';

%transition {
    transition: 0.3s ease color;
}

.skillBlock {
    &__short {
        &:nth-child(n+5) {
                display: none;
            }
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__text {
        display: inline;
        padding-left: 1em;
        color: $textColor-aside;
        @extend %transition;
        &_mark {
            &::before {
                content: '\2022';
                color: $circleColor-aside;
                padding-right: 1em;
            }   
        }
        &_markL2 {
            display: block;
            padding-left: 2em;
            &::before {
                content: '\2043';
                color: $circleColor-aside;
                padding-right: 0.5em;
            }
        }
        &_short {
            &:nth-child(n+5) {
                display: none;
            }    
        }
        &:hover {
            cursor: pointer;
            color: $hoverColor;  
        }
    }
}

.fullSkillBlock {
    &__item {
        padding: 20px;
        display: grid;
        grid: auto-flow /0.6fr 1.4fr;
        gap: 10px;
        margin-bottom: 10px;
        border: 1px solid $tableBorderColor;
        border-radius: 10px;
        align-items: center;
        @extend %tabletBorderColorsTransition;
        &:hover {
            border: 1px solid $tableHoverColor;
        }
        &_solo {
            border: none;
            &:hover {
                border: none;
            }
        }
    }
    &__skillName{
        text-align: center;
        margin-bottom: 4px;
        font-weight: 700;
        cursor: pointer;
        @extend %transition;
        &:hover {
            color: $hoverColor; 
        }
        &_solo {
            cursor: default;
            &:hover {
                color: $textColor;
            }
        }
    }
    &__aproveBlock {
        border-left: 1px solid $tableBorderColor;
        @extend %tabletBorderColorsTransition;
        &:hover {
            border-left: 1px solid $tableHoverColor;
        }
    }
    &__skillAprove {
        padding-left: 2em;
        cursor: pointer;
        @extend %transition;
        &:hover {
            color: $hoverColor;
            &{
                border-left: 1px solid $tableHoverColor;
            } 
        }
    }
}