@import '/src/styles/variables.scss';

.list {
    margin-bottom: 51px;
    &__heading {
        margin-bottom: 12px;
        cursor: default;
    }
}

@media (max-width: 620px) {
    .list {
        margin-bottom: 40px;
    }
}
@media (max-width: 500px) {
    .list {
        margin-bottom: 20px;
    }
}
@media print {
    .list {
        margin-bottom: 20px;
        &__heading {
            margin-bottom: 4px;
        }
    }
}