@import '/src/styles/variables.scss'; 

.controlPanel {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    border: 1px solid $tableBorderColor;
    border-radius: 10px;
    &__btn {
        &_print {
            margin: 0 10px;
            &:hover {
                .controlPanel__icon{
                    fill: $hoverColor;
                    stroke: $hoverColor;
                    cursor: pointer;
                }
            }
        }
    }
    &__icon {
        width: 16px;
        height: 16px;
        fill: $iconColor-aside;
        stroke: $iconColor-aside;
        transition: 0.3s ease;
        transition-duration: fill, stroke;

    }
}
@media print {
    .controlPanel {
        display: none;
    }
}